$main-color: red;
body {
    /*background-image: url(../images/cat.jpeg);*/
    background: rgb(82,42,42);
    background: linear-gradient(112deg, rgba(82,42,42,1) 0%, rgba(0,0,0,0.7959558823529411) 100%);
}